
<section class="" id="register" >
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="text-black" style="border-radius: 10px;">
            <div class="card-body p-md-3">
              <div class="row justify-content-center">
                <div class="col-md-12 col-lg-7 col-xl-7 order-2 order-lg-1">
  <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore quam sint id natus sequi quos animi distinctio laudantium magni. Rem vitae sunt cumque aut? Fugiat alias enim eligendi nam atque.</h1>
  
                </div>
                <div class="col-md-8 col-lg-5 col-xl-5 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="/image/backgruond-section1.jpg"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>