<section class="" id="register canvas">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="text-black" style="border-radius: 10px;">
          <div class="card-body p-md-3">
            <div class="row justify-content-center">
              <div class="col-md-12 col-lg-7 col-xl-7 order-2 order-lg-1">
                <p class="col-lg-12">
                  Chào mừng bạn đến với trang web Thi Trắc Nghiệm Lập Trình Online! Chúng tôi là điểm đến lý tưởng cho
                  những ai đang tìm kiếm cơ hội để kiểm tra và cải thiện kiến thức về lập trình. Với bộ câu hỏi đa dạng
                  và phong phú, chúng tôi cung cấp một môi trường thú vị và thách thức cho các bạn học viên, từ người
                  mới bắt đầu đến những lập trình viên có kinh nghiệm.
                </p>
                <br>
                <p>Trang web của chúng tôi không chỉ giúp bạn kiểm tra kiến thức mà còn cung cấp cho bạn phản hồi chi
                  tiết và ngay lập tức về các câu trả lời của bạn. Bạn có thể chọn từ một loạt các chủ đề khác nhau
                  trong lập trình như Python, Java, JavaScript, HTML/CSS và nhiều hơn nữa.</p>
                <br>
                <p> Ngoài ra, chúng tôi cung cấp các tài liệu học tập bổ sung, bài giảng và tài nguyên hữu ích giúp bạn
                  nâng cao trình độ lập trình của mình. Bất kể bạn là người mới bắt đầu hay là một chuyên gia, trang web
                  của chúng tôi sẽ giúp bạn tiến xa hơn trên con đường của lập trình. Hãy tham gia với chúng tôi ngay
                  hôm nay để bắt đầu hành trình học tập của bạn!</p>
                </p>

              </div>
              <div class="col-md-8 col-lg-5 col-xl-5 d-flex align-items-center order-1 order-lg-2">

                <img src="https://i.pinimg.com/originals/86/f6/b5/86f6b5ac2d58b9956435f5aeb1e2ac5b.gif" class="rounded img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>