<section class="" id="register">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-12 col-xl-11">
        <div class="text-black" style="border-radius: 10px;">
          <div class="card p-3 py-4">
                        
            <div class="text-center">
                <img src="https://i.imgur.com/bDLhJiP.jpg" width="100" class="rounded-circle">
            </div>
            
            <div class="text-center mt-3">
                <span class="fw-bolder p-1 px-4 rounded text-primary">TS000</span>
                <h5 class="mt-2 mb-0 fw-bolder">LQT GAME</h5>
                <span class="h6 fw-light">Web thi thử trực tuyến về công nghệ thông tin</span>
                
                <div class="px-4 mt-1">
                    <div class="lienhe-map" >
                      <iframe style="border-radius: 10px; overflow: hidden; width: 400px;"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d452.5545780036411!2d108.915590160841!3d13.913261141993809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x316f23354fa2871f%3A0x62cb7dd8280bdce7!2zVHLGsOG7nW5nIFRIUFQgUXVhbmcgVHJ1bmc!5e1!3m2!1svi!2sus!4v1676536350171!5m2!1svi!2sus"
                        style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                
                 <ul class="social-list">
                    <li><i class="fa fa-facebook"></i></li>
                    <li><i class="fa fa-dribbble"></i></li>
                    <li><i class="fa fa-instagram"></i></li>
                    <li><i class="fa fa-linkedin"></i></li>
                    <li><i class="fa fa-google"></i></li>
                </ul>
                
                <div class="button">                
                    <button class="btn btn-outline-primary px-4">Message</button>
                    <button class="btn btn-outline-primary px-4 ">Contact</button>
                </div>
                
                
            </div>
            
           
            
            
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>


.ikP{
  background-color: #fff !important;
}
  body{
    background:#eee;
}

.card{
    border:none;

    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
    
}

.card:before{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#E1BEE7;
    transform:scaleY(1);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:after{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#8E24AA;
    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:hover::after{
    transform:scaleY(1);
}


.fonts{
    font-size:11px;
}

.social-list{
    display:flex;
    list-style:none;
    justify-content:center;
    padding:0;
}

.social-list li{
    padding:10px;
    color:#8E24AA;
    font-size:19px;
}


.buttons button:nth-child(1){
       border:1px solid #8E24AA !important;
       color:#8E24AA;
       height:40px;
}


.buttons button:nth-child(2){
       border:1px solid #8E24AA !important;
       background-color:#8E24AA;
       color:#fff;
        height:40px;
}
</style>