<section class="" id="register canvas">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="text-black" style="border-radius: 10px;">
          <div class="card-body p-md-3">
            <div class="row justify-content-center">
              <div class="col-md-12 col-lg-7 col-xl-7 order-2 order-lg-1">
                <div class="container my-5">
                  <div class="row justify-content-center">
                    <div class="col-lg-9">
                      <h1 class="mb-3 fw-semibold  ">Liên hệ với chúng tôi</h1>
                      <p class=" h6 fw-light mb-5 ">có gì thắc mắc hãy liên hệ với chúng tôi qua form này xin cảm ơn  </p>
                      <form>
                        <div class="row g-3">
                          <div class="col-md-6">
                            <label for="your-name" class="form-label">Your Name</label>
                            <input type="text" class="form-control" id="your-name" name="your-name" required>
                          </div>
                          <div class="col-md-6">
                            <label for="your-surname" class="form-label">Your Surname</label>
                            <input type="text" class="form-control" id="your-surname" name="your-surname" required>
                          </div>
                          <div class="col-md-6">
                            <label for="your-email" class="form-label">Your Email</label>
                            <input type="email" class="form-control" id="your-email" name="your-email" required>
                          </div>
                          <div class="col-md-6">
                            <label for="your-subject" class="form-label">Your Subject</label>
                            <input type="text" class="form-control" id="your-subject" name="your-subject">
                          </div>
                          <div class="col-12">
                            <label for="your-message" class="form-label">Your Message</label>
                            <textarea class="form-control" id="your-message" name="your-message" rows="5" required></textarea>
                          </div>
                          <div class="col-12">
                            <div class="row">
                              <div class="col-md-6">
                                <button data-res="<?php echo $sum; ?>" type="submit" class="btn btn-danger w-100 fw-bold" >Send</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                
                <footer class="page-footer text-center">
                  <span>Bạn chưa đăng nhập ?  <a href="#!login" class="text-danger">Đăng nhập ngay</a></span>
                 
                </footer>

              </div>
              <div class="col-md-8 col-lg-5 col-xl-5 d-flex align-items-center order-1 order-lg-2">

                <img src="/image/logo-fpt-polytechnic.png" class="rounded img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>