<section class="" id="register canvas">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="text-black" style="border-radius: 10px;">
          <div class="card-body p-md-3">
            <div class="row justify-content-center">
              <div class="col-md-12 col-lg-7 col-xl-7 order-2 order-lg-1">
                <div class="container my-5">
                  <div class="row justify-content-center">
                    <div class="col-lg-9">
                      <h1 class="mb-3">Các câu hỏi hay gặp</h1>
                      <p class=" h6 fw-light mb-5 ">Trang thi trắc nghiệm online mới nhất 2024  </p>
                      <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                  Thi đạt bao nhiêu điểm là tốt ?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                  <strong>Theo hướng dẫn của Bộ GD&ĐT, những thí sinh </strong> đủ điều kiện dự thi, không bị kỷ luật hủy kết quả thi, tất cả bài thi và các môn thi thành phần của bài thi tổ hợp đăng ký dự thi để xét công nhận tốt nghiệp đều đạt trên 1,0 điểm theo thang điểm 10 và có điểm xét tốt nghiệp từ 5,0 điểm trở lên được công nhận tốt nghiệp THPT.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                   Sau khi làm bài thi xong sẽ được những gì ?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse
                                    plugin adds the appropriate classes that we use to style each element. These classes control the overall
                                    appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                                    custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                                    within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                   Hình thức thi mới
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse
                                    plugin adds the appropriate classes that we use to style each element. These classes control the overall
                                    appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                                    custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                                    within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
                
                <footer class="page-footer text-center">
                  <span>Bạn chưa đăng nhập ?  <a href="#!login" class="text-danger">Đăng nhập ngay</a></span>
                 
                </footer>

              </div>
              <div class="col-md-8 col-lg-5 col-xl-5 d-flex align-items-center order-1 order-lg-2">

                <img src="/image/values-1.png" class="rounded img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>