
<section class="" id="register" >
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="text-black" style="border-radius: 10px;">
            <div class="card-body p-md-3">
              <div class="row justify-content-center">
                <div class="col-md-12 col-lg-7 col-xl-7 order-2 order-lg-1">

                    <div id="section5" class="container-fluid  " style="padding: 100px 20px">
                        <h1>Hỏi đáp</h1><br>
                        <h5>
                          <details>
                            <summary><strong>1. Làm cách nào để đăng ký tài khoản trên trang web?</strong></summary>
                            <p>Để đăng ký tài khoản, bạn có thể bấm vào nút "Đăng ký" trên thanh điều hướng và điền đầy đủ thông tin theo
                              hướng dẫn.</p>
                          </details>
                    
                          <details>
                            <summary><strong>2. Tôi quên mật khẩu của mình, làm thế nào để khôi phục?</strong></summary>
                            <p>Truy cập trang đăng nhập và chọn "Quên mật khẩu." Bạn sẽ nhận được hướng dẫn qua email để khôi phục mật khẩu
                              của mình.</p>
                          </details>
                    
                          <details>
                            <summary><strong>3. Làm cách nào để tham gia các nhóm học?</strong></summary>
                            <p>Bạn có thể tham gia các nhóm học thông qua mục "Tính tương tác" trong tài khoản cá nhân của mình. Ở đây, bạn
                              có thể tìm và tham gia các nhóm theo chủ đề mong muốn.</p>
                          </details>
                    
                          <details>
                            <summary><strong>4. Làm thế nào để tìm kiếm các bài kiểm tra cụ thể?</strong></summary>
                            <p>Trong thanh điều hướng, bạn có thể sử dụng ô tìm kiếm và nhập từ khóa hoặc chủ đề mong muốn để tìm kiếm các
                              bài kiểm tra tương ứng.</p>
                          </details>
                        </h5>
                      </div>
  
                </div>
                <div class="col-md-8 col-lg-5 col-xl-5 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://i.pinimg.com/originals/eb/83/37/eb833767e61ee0685f105e2d18b9c966.gif"
                    class="img-fluid rounded" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>