
<section class="" id="register" >
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="text-black" style="border-radius: 10px;">
            <div class=" p-md-3">


             <div class="mb-3" >
              <img src="/image/hero-img.svg" class="rounded img-fluid" alt="...">
             </div>


              <div class="text-center fw-bold mb-5 fs-6 text-secondary m-0">
                <p class="text-center fs-1 fw-bold  mx-1 mx-md-4 mt-4">TRANG THI TRẮC NGHIỆM TRỰC TUYẾN <STRong>HONGYOOQUIZZ</STRong>  </p>
                <p class="text-center h6 fw-light mb-5 ">Tham gia ngay với chúng tôi tại đây   </p>
                <div ng-show="student==null">
                 <a href="#!register" type="button" class="btn btn-danger">Đăng
                     Kí
                     Ngay</a>
                 <a type="button" href="#!login" class="btn text-Title"> Đăng Nhập </a>
                </div>
                <div ng-hide="student==null">
                 <a type="button" href="#!category" class="btn btn-danger px-4">Vào thi ngay  </a>
                 <a type="button" ng-click="logoff()" class="btn text-Title"> Đăng Xuất <i class="bx bx-log-in-circle"></i></a>
                </div>
           </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>