
<section class="" id="register" >
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="text-black" style="border-radius: 10px;">
            <div class="card-body p-md-3">
              <div class="row justify-content-center">
                <div class="col-md-12 col-lg-7 col-xl-7 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-2 mx-1 mx-md-4 mt-4">Hệ Thống Thi Trắc Nghiệm <code> Lập Trình </code> Miễn Phí
                    Mới
                    Nhất 2024</p>
                  <h3 class="text-center h1 fw-bold mb-5 fs-6 fw-normal text-secondary m-0">Kiến Thức - Kinh Nghiệm - Trải Nghiệm </h3>
                  <div class="text-center fw-bold mb-5 fs-6 fw-normal text-secondary m-0">
                       <div ng-show="student==null">
                        <a href="#!register" type="button" class="btn btn-secondary">Đăng
                            Kí
                            Ngay</a>
                        <a type="button" href="#!login" class="btn text-Title"> Đăng Nhập </a>
                       </div>
                       <div ng-hide="student==null">
                        <a type="button" href="#!category" class="btn btn-secondary px-4">Vào thi ngay <i class="bx bx-pointer "></i> </a>
                        <a type="button" ng-click="logoff()" class="btn text-Title"> Đăng Xuất </a>
                       </div>
                  </div>
  
                </div>
                <div class="col-md-8 col-lg-5 col-xl-5 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://i.pinimg.com/originals/39/55/31/3955311309c5a77fbaaa38af97e35e8c.gif"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>